footer{
    background-color: #A9081C
}

footer .rodape{
    color: white;
    font-family: 'Segoe UI';
    
}

.rodape li a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-style: normal;
}

footer ul{
    list-style: none;
    color: white;
}



