body {
    margin-top: 0px;
    margin-left: 0px;
}

section .name-section{
    margin-top: 80px;
    font-family: 'Roboto', black;
    font-size: 40px;
    text-align: center;
    color: #111A21;
    line-height: 0px;
    
    
}

section .description{
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 0;
    color: #111A21;
    
}

form {
    background-color: none;    
    margin: 20px auto;  
    max-width: 730px;
    line-height: 70px; 
}

  


form input {
    background-color:none;

    width: 100%;
    line-height: 30px;
    border: 2px; 
    background: #f2f2f2;
    padding: 15px 30px;
    font-size:16px;
    outline: none;
    border-radius: 4px;
    
}

form .mensage input{
    padding: 120px 30px;
    margin-top: -20px;
   

}

form label{
  
    font-family: 'Roboto Regular', sans-serif;
    font-size: 20px;
    color:#111A21;
    
}


form button{
    margin-top: 40px;
    margin: 50px auto; 
    width: 330px;
    height: 70px;
    background-color: #111A21;
    border-radius: 4px;

    color:white;
    font-weight: normal;
    font-size: 25px ;
    font-family: 'Roboto';
    
    border:0;

}

