.mainmenubtn {
    background-image:url("https://lh3.googleusercontent.com/proxy/Oz7LqOjaMXfAsoxR8TGVgzq1MfemtD7o0V6z4247szj4lw3-oHt-PmgBwUHMGlP8Z7_mS9d-3BX1m_Pr0xtUzmodqPa2pmsAru_vdM0hB_Op0WGWEZBP35VFJXYq5GtdkA") ;
    background-size: 100%;
    width:40px; 
    height:40px;
    }